/*---------------------------------------------nav--------------------------------------------*/
.navigation{
    font-family: 'Poppins', sans-serif;
    padding:10px;
    background-color: #FFCB05;
    color:black;
    border: 2px solid #3A5DAF;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 5px 5px 8px #1A2D5F;
}
.navigation:hover{
    background-color: #3A5DAF;
    border: 2px solid #FFCB05;
    color: #FFCB05;
}
nav{
    margin-top: 50px;
    margin-left: 35%;
}
#container_form{
    display:flex;
    justify-content: center;
    margin-top: 10%;
}

form input {
    display: block;
}


/* --------------------------------------Accueil_tpl---------------------------------------------- */

.accueil {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url('./images/Pokémon-simbolo.jpg');
    background-size: cover;
    overflow: hidden;
}
#loggin_container{
    height: 90vh;
    display:grid;
    justify-content: center;
    grid-template-columns: 30% 10% 20% 10% 30%;
    grid-template-rows: 10% 20% 20% 20% 20%;
}
#select_play{
    grid-row: 2;
    grid-column: 2/4 ;
    margin-left: 25%;
}
#select_play button{
    height: 50px;
    width: 80px;
    margin-left: 20%;
    padding:10px;
    background-color: #FFCB05;
    color:black;
    border: 2px solid #ED1C24;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 5px 5px 8px #1A2D5F;
}#select_play button:hover{
    background-color: #ED1C24;
    color: #FFCB05;
}
#joueur1_container{
    grid-row: 3;
    grid-column: 2;
    display: none;
    width: 220px;
    height: 220px;
    border: 3px solid red;
    background: linear-gradient(to bottom, red 50%, white 50%);
    box-shadow: 2px 10px 10px #23386B;
    border-radius: 100%;
    text-align: center;
}
#joueur2_container{
    grid-row: 3;
    grid-column: 4;
    display: none;
    width: 220px;
    height: 220px;
    border: 3px solid #3A5DAF;
    background: linear-gradient(to bottom, #3A5DAF 50%, white 50%);
    box-shadow: 2px 10px 10px #23386B;
    border-radius: 100%;
    text-align: center;
}
#start{
    grid-row: 4;
    grid-column: 3;
    margin-top: 5%;
    margin:auto;
    width: 220px;
    height: 220px;
    border: 3px solid #1F3871;
    background-color: #3A5DAF;
    box-shadow: 2px 10px 10px #23386B;
    border-radius: 100%;
    text-align: center;
}

#welcome{
    text-align: center;
    margin-top : 2%;
}
#start_button img{
   height:100px;
   width:100px;

}
.pokeball{
    height:80px;
    width:80px;
    border-radius: 100%;
    box-shadow: 2px 5px 10px #23386B; 
}
.pokeball:hover{
    height:90px;
    width:90px;
}
#start_button img:hover{
    height:120px;
    width:120px;
}
a{
    text-decoration: none;
}
h2{
  text-align: center;
  color:black;
  text-shadow: 2px 5px 10px #23386B;  
}
.button_select_poke{
    height:120px;
}
#form1 input, #form2 input{
    font-family: 'Poppins', sans-serif;
    margin:auto;
    border-radius: 5px;
    height: 30px;
    background-color: white;
}
#form1 input:focus, #form2 input:focus{
    outline:  none;
    background-color: #F7F7F8;
}
#submit1, #submit2 {
    font-family: 'Poppins', sans-serif;
    margin:auto;
    margin-top: 10px;
    background-color: red;
    border-radius: 5px;
    height: 30px;
    width:40px;
    box-shadow: 0px 3px 5px #23386B;
}
#submit1{
    background-color: #FFFFFF;
    border: 1px solid black;
    color:red;
}
#submit1:hover {
    background-color: red;
    color:white;
}
#submit2{
    background-color: #FFFFFF;
}
#submit2:hover{
    background-color: #3A5DAF;
    border: 1px solid #3A5DAF;
    color: white;
    box-shadow: 0px 0px 5px #23386B;
}
#pocketred{
    position: absolute;
    height:200px;
    width:200px;
    top:-40%;
    border-radius: 100px;
    animation: 0.7s ease-in 0s infinite alternate poketred;
}
#pocketred img{
    height: 100%;
    width:100%;
}
#blueShadow, #redShadow{
    background-color: black;
    opacity: 0.2;
    position: absolute;
    z-index:-1;
    height:200px;
    width:200px;
    top:-40%;
    border-radius: 100px;
}
#blueShadow{
    animation: 0.8s ease 0s infinite alternate blue1;
}
#redShadow{
    animation: 0.7s ease-in 0s infinite alternate red1;
}
#pocketblue{
    position: absolute;
    height:200px;
    width:200px;
    top:-40%;
    border-radius: 100px;
    animation: 0.8s ease 0s infinite alternate poketblue;
}
#pocketblue img{
    height: 100%;
    width:100%;
}
@keyframes poketred {
    from {
        top:20%;
        left:10%;
        height:200px;
        border-radius: 100px;
        }

    90%{
        height:180px;
        border-radius: 95px;
    }
    to {
        top:84%;
        left:10%;
        height:150px;
        border-radius:90px;
    }

}
@keyframes red1 {
    from {
        top:35%;
        left:12%;
        height:210px;
        width:210px;
        border-radius: 100%;
        }

    90%{
        height:180px;
        width:180px;
        border-radius: 98%;
    }
    to {
        opacity: 0.6;
        top:84%;
        left:11%;
        height:150px;
        width:150px;
        border-radius:95%;
    }

}
@keyframes poketblue {
    from {
        top:85%;
        left:80%;
        height:130px;
        border-radius: 80px;
        }
    10% {
        height:180px;
        border-radius: 90px;
    }
    to {
        top:5%;
        left:80%;
        height:200px;
        border-radius:100px;
    }

}
@keyframes blue1 {
    from {
        opacity: 0.8;
        top:86%;
        left:82%;
        height:100px;
        width: 100px;
        border-radius: 80%;
        }
    10% {
        height:150px;
        width: 150px;
        border-radius: 80%;
    }
    50%{
        height: 210px;
        width: 210px;
    }
    to {
        top:25%;
        left:82%;
        height:220px;
        width:220px;
        border-radius:100%;
    }

}

/*-----------------------------------------Stats combat----------------------------------------*/
.stats_combat_container{
    font-family: 'Poppins', sans-serif;
    background-color: #3A5DAF;
}
#all_combat_container{
    height: 90vh;
    width:98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 5%;
    grid-row: 2;
    grid-column:2;
    text-align: center;
    text-shadow: 2px 5px 3px #1A2D5F; 
    color: #C0BB05;
}
table {
    margin-top:1%;
    border-radius: 10px;
    border: 2px solid #3A5DAF;
    background-color: #3A5DAF;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px 8px #1A2D5F;
}
th, td{
    background-color: white;
    border: 1px solid #3A5DAF;
    height: 30px;
    width: 200px;
}
th{
    background-color: #EDCE61;
}
#form_display_combat{
    display: flex;
    margin-top:50px;
}
.button_display_combat{
    padding:10px;
    margin: 10px;
    background-color: #ED1C24;
    color:white;
    border: 2px solid #ED1C24;
    border-radius: 5px;
    text-decoration: none;
 }
.button_display_combat:hover{
    background-color: white;
    color: black;
}
/* -----------------------------------------top3_tpl-------------------------------------------- */

.top3_container{
    font-family: 'Poppins', sans-serif;
    background-color: #3A5DAF;
    height: 100%;
    width:100%;
    overflow:hidden;
}

#top3{
    height: 90%;
    width:98vw;
    margin-top:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ultrapokeball img{
    position: absolute;
    z-index:1;
    height:210px;
    width:210px;
    border-radius: 100%;
    animation: ultra 1.5s linear 0s infinite ;
}
#pockred img{
    position: absolute;
    height:200px;
    width:200px;
    border-radius: 100%;
    animation: pocke 1.8s ease-in 0s infinite ;
}
#pockblue img{
    position: absolute;
    height:200px;
    width:200px;
    border-radius: 100%;
    animation: pocke 2.5s ease-out 0s infinite ;
}
@keyframes ultra {
    0% {
        top:80%;
        left:-10%;
    }
    100% {
        top:80%;
        left:110%;
        transform: rotate(480deg);
    }
}
@keyframes pocke {
    0% {
        top:80%;
        left:110%;
        transform: rotate(360deg);
    } 
    100% {
        top:80%;
        left:-15%;
    }
}

/*--------------------------------------------pokemon_tpl---------------------------------------------*/

.pokemon_body{
    font-family: 'Poppins', sans-serif;
    background-color: #3A5DAF;
}
.pokemon_container{
    height: 80vh;
    display: grid;
    grid-template-rows: 10% 20% 50% 10%;
    grid-template-columns: 20% 60% 20%;
}
.poke_user{
    grid-row: 2;
}
#form_div{
    grid-row:3;
    grid-column:2;
}
#table_pokemon {
    border-radius: 10px;
    border: 2px solid #3A5DAF;
    background-color: #3A5DAF;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px 8px #1A2D5F;
}
#table_pokemon th, #table_pokemon td{
    background-color: white;
    border: 1px solid #3A5DAF;
    height: 20px;
    width: 200px;
}
.select-one-pokemon{
    width:200px;
    height: 100%;
    background-color: white;
    border: 1px solid white;
}
.select-one-pokemon:hover{
    background-color: #EDCE61;
    border: 1px solid #EDCE61;
}
.fa-brands{
    font-size: 50px;
}
#table_pokemon th {
    background-color: #EDCE61;
}
.player{
    padding:10px;
    background-color: #ED1C24;
    color:white;
    border: 2px solid #ED1C24;
    border-radius: 5px;
    text-decoration: none;
}
.player:hover{
    background-color: white;
    color: #ED1C24;
}
#player_div{
    grid-row:4;
    grid-column:2;
    margin:auto;
}
#play2{
    display: none;
}
#balle{
    height:40px;
    width:40px;
}

/* ------------------------------------------------stats joueur tpl----------------------------------- */

body{
    background-color: #3A5DAF;
}
h1{
    grid-row: 2;
    grid-column:2;
    text-align: center;
    text-shadow: 2px 5px 3px #1A2D5F; 
    color: #C0BB05;
}
#combat_container{
    height: 80vh;
    width:98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#table_joueur{
    font-family: 'Poppins', sans-serif;
}
#form_select_combat_joueur{
    display: flex;
    margin-top:50px;
}
.button_display_combat{
    padding:10px;
    margin: 10px;
    background-color: #ED1C24;
    color:white;
    border: 2px solid #ED1C24;
    border-radius: 5px;
    text-decoration: none;
 }
.button_display_combat:hover{
    background-color: white;
    color: black;
}
