/*---------------------------------------------nav--------------------------------------------*/
.navigation{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.redirection{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding:10px;
    width: 155px;
    height: 50px;
    background-color: #FFCB05;
    color:black;
    border: 2px solid #3A5DAF;
    text-decoration: none;
    box-shadow: 5px 5px 8px #1A2D5F;
    margin-bottom: 1px;
    transition: background-color 0.5s, border 0.5s, color 0.5s, width 0.5s, height 0.5s font-size 0.5s;
}
.redirection:hover{
    background-color: #3A5DAF;
    border: 2px solid #FFCB05;
    font-size: 20px;
    box-shadow: 5px 10px 8px #1A2D5F;
    color: #FFCB05;
    width: 160px;
    height: 55px;
    margin: 0px;
}
#navstart{
    border-radius: 10px 0px 0px 10px;
}
#navend{
    border-radius: 0px 10px 10px 0px;
}
#container_form{
    display:flex;
    justify-content: center;
    margin-top: 10%;
}

form input {
    display: block;
}

/*---------------------------------------------inscription----------------------------------------------------*/

.inscription_body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url('./images/inscription.png');
    background-size: cover;
    overflow: hidden;
}
#container_inscription{
    display:grid;
    height: 80vh;
    margin-top: 5%;
    grid-template-rows : 20% 60% 20%;
    grid-template-columns : 25% 50% 25%; 
}
#titre_inscription{
    margin-top: 10%;
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    text-shadow: 2px 4px 3px #1A2D5F; 
    color: #FFCB05;
}
#form_inscription{
    grid-row: 2;
    grid-column: 2;
    margin: auto;
}
#form_inscription label{
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-shadow: 2px 4px 3px #1A2D5F; 
    color: #FFCB05;
}
#inscription-nom, #inscription-pseudo, #inscription-email { 
    display: block;
    border-radius: 5px;
    padding-left: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height:40px;
    width: 500px;
    border:1px solid #3A5DAF;
    margin: auto;
}
#form_inscription input:focus {
    outline:  none;
}
#valid_inscription{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left:40%;
    padding:10px;
    background-color: #FFCB05;
    color:black;
    border: 2px solid #3A5DAF;
    border-radius: 5px;
    width: 100px;
    box-shadow: 1px 3px 8px #1A2D5F;
    transition: background-color 0.3s, color 0.3s, border 0.3s, box-shadow 0.3s;
}
#valid_inscription:hover{
    background-color: #3A5DAF;
    border: 2px solid #FFCB05;
    color: #FFCB05;
    box-shadow: none;
}
.compare_box{
    color: red;
    background-color: pink;
    width: fit-content;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid red;
}
.input{
    height:42px;
    width: 530px;
    border:1px solid #3A5DAF;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
#eye, #eye2{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
}
#password, #password2{
    width: 90%;
    height: 100%;
    padding-left: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}
/* --------------------------------------Accueil_tpl---------------------------------------------- */

.accueil {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-image: url('./images/Pokémon-simbolo.jpg');
    background-size: cover;
    overflow: hidden;
}
#loggin_container{
    height: 90vh;
    display:grid;
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 30% 30% 20%;
}
#solo, #duo {
    cursor: pointer;
    font-size: 50px;
    text-shadow: 2px 3px 3px #23386B;
    height: 220px;
    width: 220px;
    background-color: #FFCB05;
    text-decoration: none;
    box-shadow: 8px 12px 5px #1A2D5F;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    border-radius: 100%;
    transition: background-color 0.7s, color 0.7s, box-shadow 0.7s;
}
#solo {
    left: 35%;
    color: #ED1C24;
    border: 5px solid #ED1C24;
}
#duo {
    left: 55%;
    color: #3A5DAF;
    border: 5px solid #3A5DAF;
}
#solo:hover{
    background-color: #ED1C24;
    color: #FFCB05;
    box-shadow: none;
}
#duo:hover{
    background-color: #3A5DAF;
    color: #FFCB05;
    box-shadow: none;
}
#joueur1_container, #joueur2_container {
    display: none;
    position: absolute;
    top: 50%; 
    transform: translate(0%, -50%); 
    width: 220px;
    height: 220px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 8px 12px 5px #1A2D5F;
}
#joueur1_container{
    left: 35%;
    background: linear-gradient(to bottom, red 50%, white 50%);
    border: 3px solid #ED1C24;
}
#joueur2_container{
    left: 55%;
    background: linear-gradient(to bottom, #3A5DAF 50%, white 50%);
    border: 3px solid #3A5DAF;
}
#welcome{
    text-align: center;
    margin-top : 2%;
}
#start{
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 60%;
    left: 45%;
    width: 220px;
    height: 220px;
    border: 3px solid #1F3871;
    background-color: #3A5DAF;
    box-shadow: 8px 12px 5px #1A2D5F;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.7s;
}
#start:hover{
    box-shadow: none;
}

#start_button img{
   height:130px;
   width:130px;
   transition: height 0.5s, width 0.5s animation 0.5s;
}
#start_button img:hover{
    height:128px;
    width:128px;
    animation: spin 1s linear infinite;
}
.pokeball{
    height:90px;
    width:90px;
    margin-top: -5px;
    border-radius: 100%;
    box-shadow: 2px 5px 5px #23386B;
    transition: height 0.5s, width 0.5s, margin 0.5s, box-shadow 0.5s;
}
.pokeball:hover{
    height:80px;
    width:80px;
    margin-top: 0px;
    box-shadow: none;
}
a{
    text-decoration: none;
}
h2{
  text-align: center;
  color:white;
  text-shadow: 2px 2px 5px #23386B;  
}
.button_select_poke{
    height:120px;
}
#connect-pseudo, #connect-pseudo2{
    font-family: 'Poppins', sans-serif;
    margin:auto;
    border-radius: 5px;
    height: 30px;
    background-color: white;
}
#connect-pseudo:focus, #connect-pseudo2:focus{
    outline:  none;
}
.connexion{
    margin: auto;
    border:2px solid #767676;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 167px;
    display: flex;
    align-items: center;
}
#connect-password, #connect-password2{
    font-family: 'Poppins', sans-serif;
    margin:auto;
    border-radius: 5px;
    width: 90%;
    height: 100%;
    border: none;
    background: none;
    outline: none;
}
#connect-eye, #connect-eye2{
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
}
#submit1, #submit2 {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin:auto;
    margin-top: 10px;
    background-color: #ff0000;
    border-radius: 5px;
    height: 30px;
    width:40px;
    box-shadow: 0px 3px 5px #23386B;
    transition: background-color 0.3s, border 0.3s, color 0.3s, box-shadow 0.3s;
}
#submit1{
    background-color: #FFFFFF;
    border: 1px solid black;
    color:red;
}
#submit1:hover {
    background-color: red;
    box-shadow: none;
    color:white;
}
#submit2{
    background-color: #FFFFFF;
}
#submit2:hover{
    background-color: #3A5DAF;
    border: 1px solid #3A5DAF;
    color: white;
    box-shadow: none;
}
#pocketred{
    position: absolute;
    height:200px;
    width:200px;
    top:-40%;
    border-radius: 100px;
    animation: 0.7s ease-in 0s infinite alternate poketred;
}
#pocketred img{
    height: 100%;
    width:100%;
}
#blueShadow, #redShadow{
    background-color: black;
    opacity: 0.2;
    position: absolute;
    z-index:-1;
    height:200px;
    width:200px;
    top:-40%;
    border-radius: 100px;
}
#blueShadow{
    animation: 0.8s ease 0s infinite alternate blue1;
}
#redShadow{
    animation: 0.7s ease-in 0s infinite alternate red1;
}
#pocketblue{
    position: absolute;
    height:200px;
    width:200px;
    top:-40%;
    border-radius: 100px;
    animation: 0.8s ease 0s infinite alternate poketblue;
}
#pocketblue img{
    height: 100%;
    width:100%;
}
@keyframes poketred {
    from {
        top:20%;
        left:10%;
        height:200px;
        border-radius: 100px;
        }

    90%{
        height:180px;
        border-radius: 95px;
    }
    to {
        top:84%;
        left:10%;
        height:150px;
        border-radius:90px;
    }

}
@keyframes red1 {
    from {
        top:35%;
        left:12%;
        height:210px;
        width:210px;
        border-radius: 100%;
        }

    90%{
        height:180px;
        width:180px;
        border-radius: 98%;
    }
    to {
        opacity: 0.6;
        top:84%;
        left:11%;
        height:150px;
        width:150px;
        border-radius:95%;
    }

}
@keyframes poketblue {
    from {
        top:85%;
        left:80%;
        height:130px;
        border-radius: 80px;
        }
    10% {
        height:180px;
        border-radius: 90px;
    }
    to {
        top:5%;
        left:80%;
        height:200px;
        border-radius:100px;
    }

}
@keyframes blue1 {
    from {
        opacity: 0.8;
        top:86%;
        left:82%;
        height:100px;
        width: 100px;
        border-radius: 80%;
        }
    10% {
        height:150px;
        width: 150px;
        border-radius: 80%;
    }
    50%{
        height: 210px;
        width: 210px;
    }
    to {
        top:25%;
        left:82%;
        height:220px;
        width:220px;
        border-radius:100%;
    }

}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*-----------------------------------------Stats combat----------------------------------------*/
.stats_combat_container{
    font-family: 'Poppins', sans-serif;
    background-color: #3A5DAF;
}
#all_combat_container{
    height: 90vh;
    width:98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 5%;
    grid-row: 2;
    grid-column:2;
    text-align: center;
    text-shadow: 2px 5px 3px #1A2D5F; 
    color: #C0BB05;
}
table {
    margin-top:1%;
    border-radius: 10px;
    border: 2px solid #3A5DAF;
    background-color: #3A5DAF;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px 8px #1A2D5F;
}
th, td{
    background-color: white;
    border: 1px solid #3A5DAF;
    height: 30px;
    width: 200px;
}
th{
    background-color: #FFCB05;
}
#form_display_combat{
    display: flex;
    margin-top:50px;
}
.button_display_combat{
    padding:10px;
    margin: 10px;
    background-color: #ED1C24;
    color:white;
    border: 2px solid #ED1C24;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, padding 0.3s, margin 0.3s;
 }
.button_display_combat:hover{
    background-color: white;
    color: black;
    padding: 15px;
    margin: 5px;
}
.player_1{
    background-color: #F75231;
    color: white;
}
.player_2{
    background-color: #399CFF;
    color: white;
}

/* -----------------------------------------top3_tpl-------------------------------------------- */

.top3_container{
    font-family: 'Poppins', sans-serif;
    background-color: #3A5DAF;
    height: 100%;
    width:100%;
    overflow:hidden;
}

#top3{
    height: 90%;
    width:98vw;
    margin-top:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ultrapokeball img{
    position: absolute;
    z-index:1;
    height:210px;
    width:210px;
    border-radius: 100%;
    animation: ultra 1.5s linear 0s infinite ;
}
#pockred img{
    position: absolute;
    height:200px;
    width:200px;
    border-radius: 100%;
    animation: pocke 1.8s ease-in 0s infinite ;
}
#pockblue img{
    position: absolute;
    height:200px;
    width:200px;
    border-radius: 100%;
    animation: pocke 2.5s ease-out 0s infinite ;
}
@keyframes ultra {
    0% {
        top:80%;
        left:-10%;
    }
    100% {
        top:80%;
        left:110%;
        transform: rotate(480deg);
    }
}
@keyframes pocke {
    0% {
        top:80%;
        left:110%;
        transform: rotate(360deg);
    } 
    100% {
        top:80%;
        left:-15%;
    }
}

/*--------------------------------------------pokemon_tpl---------------------------------------------*/

.pokemon_body{
    height: 80vh;
    font-family: 'Poppins', sans-serif;
    background-color: #3A5DAF;
}
.pokemon_container{
    height: 100%;
    display: grid;
    grid-template-rows: 20% 50% 30%;
    grid-template-columns: 20% 60% 20%;
}
.poke_user{
    grid-row: 1;
    color: #FFCB05;
}
#form_div{
    grid-row:2;
    grid-column:2;
    margin: auto;
}
#table_pokemon {
    border-radius: 10px;
    border: 2px solid #3A5DAF;
    background-color: #3A5DAF;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 20px;
    text-align: center;
    box-shadow: 10px 10px 8px #1A2D5F;
}
#table_pokemon th, #table_pokemon td{
    background-color: white;
    border: 1px solid #3A5DAF;
    padding: 1px 1px 5px 1px;
    height: 20px;
    width: 200px;
}
.select-one-pokemon-player-1, .select-one-pokemon-player-2{
    width:99%;
    height: 94%;
    margin: auto;
    border: 1px solid #3A5DAF;
    background-color: white;
    border: 1px solid white;
}
.select-one-pokemon-player-1:hover{
    background-color: #F75231;
    border: 1px solid #F75231;
    color: white;
    border-radius: 5px;
}
.select-one-pokemon-player-2:hover{
    background-color: #399CFF;
    border: 1px solid #399CFF;
    color: white;
    border-radius: 5px;
}
/* Style pour le check en rouge (joueur 1) */
.player-check-red i {
    color: red;
}

/* Style pour le check en bleu (joueur 2) */
.player-check-blue i {
    color: blue;
}
.fa-brands{
    font-size: 50px;
}
#table_pokemon th {
    background-color: #EDCE61;
}
.player{
    padding:10px;
    background-color: #ED1C24;
    color:white;
    border: 2px solid #ED1C24;
    border-radius: 5px;
    text-decoration: none;
}
.player:hover{
    background-color: white;
    color: #ED1C24;
}
#player_div{
    margin-top:5%;
    margin-left:43%;
}
#play2{
    display: none;
}
#balle{
    height:40px;
    width:40px;
}
.type, .colorType{
    
}
/* ------------------------------------------------stats joueur tpl----------------------------------- */

body{
    background-color: #3A5DAF;
    font-family: 'Poppins', sans-serif;
}
h1{
    grid-row: 2;
    grid-column:2;
    text-align: center;
    text-shadow: 2px 5px 3px #1A2D5F; 
    color: #FFCB05;
}
#combat_container{
    height: 80vh;
    width:98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#table_joueur{
    font-family: 'Poppins', sans-serif;
}
#form_select_combat_joueur{
    display: flex;
    margin-top:50px;
}
.button_display_combat{
    padding:10px;
    margin: 10px;
    background-color: #ED1C24;
    color: white;
    border: 2px solid #ED1C24;
    border-radius: 5px;
    text-decoration: none;
 }
.button_display_combat:hover{
    background-color: white;
    color: black;
}
.victory{
    background-color: #98EA00;
}

